<head>
	{% if site.analytics.google %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag() {
		dataLayer.push(arguments);
	  }
	  gtag("js", new Date());
  
	  gtag("config", "{{ site.analytics.google }}");
	</script>
	<!-- End Google Analytics -->
	{% endif %}
	
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta charset="utf-8">
  	<meta name="description" content="Crafting captivating websites, revolutionizing customer interactions, and unleashing efficiency. QastVue Labs - Your trusted technology partner.">
  	<meta name="author" content="QastVue Labs">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
